@{
    ViewData["Title"] = "Как это работает?";
}
<link href="~/css/howitworks.css" rel="stylesheet" />

<h1 id="howitworks">Как это работает?</h1>

<div id="apphiw">
    <div class="block">
        <div class="content">
            <h1>1</h1>
            <p>
                Если вы студент заполните свой профиль, выберите курс группу, и расскажите немного о себе.
                <br> Если вы администратор или член жюри также заполните профиль, выбрав пунк "Администратор"
            </p>
            <div class="img" style="background-image: url('@Url.Content("imgs/1hiw.png")')"></div>
        </div>
    </div>

    <div class="block">
        <div class="content">
            <h1>2</h1>
            <p>
                Выберите доступную проектную деятельность этого года, созданную администратором.
                <br> Изучите доступные вам команды из списка и подайте заявки в несколько.
                Вы узнаете, когда вашу заявку одобрит одна из команд
            </p>
            <div class="img" style="background-image: url('@Url.Content("imgs/2hiw.png")')"></div>
        </div>
    </div>


    <div class="block">
        <div class="content">
            <h1>3</h1>
            <p>
                Общайтесь, обменивайтесь файлами, сообщениями, следите за новостями и многое другое.
                <br> Удачи! <br><br>
            </p>
            <div class="img" style="background-image: url('@Url.Content("imgs/3hiw.png")')"></div>
        </div>
    </div>

</div>